.card {
    border: 2px solid #000;
    border-radius: 10px;
    width: 250px;
    height: 550px;
    margin: 20px
}

.card.read {
    background-color: #d3d3d3
}

.card .book-title {
    font-size: 1.5rem
}

.card .book-author {
    font-size: 1rem
}

.book-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.card {
    border: 1px solid #000;
    border-radius: 6px;
    padding: 1rem;
    margin: 10px;
    width: 15%;
    height: 500px
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 60px
}

.new-book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin: 0 auto;
}

.form-item {
    padding: 5px;
    text-align: right;
}